@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* .swiper-slide {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-slide img {
  display: flex;
  width: 5rem;
  height: 24rem;
} */

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

:root {
  --primary: #f1f1f1;
  --secondary: #DC5F00;
  --tertiary: #CF0A0A;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}